<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * NB! This is a BETA release of Erply Connector.
 *
 * Use with caution and at your own risk.
 *
 * The author does not take any responsibility for any loss or damage to business
 * or customers or anything at all. These terms may change without further notice.
 *
 * License terms are subject to change. License is all-restrictive until
 * said otherwise.
 *
 * @author Eepohs Ltd
 */
-->
<config>
    <modules>
        <Eepohs_Erply>
            <version>2.0.3</version>
        </Eepohs_Erply>
    </modules>
    <global>
        <models>
            <eepohs_erply>
                <class>Eepohs_Erply_Model</class>
                <resourceModel>eepohs_erply_mysql4</resourceModel>
            </eepohs_erply>
            <eepohs_erply_mysql4>
                <class>Eepohs_Erply_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>erply_queue</table>
                    </queue>
                </entities>
            </eepohs_erply_mysql4>
        </models>
        <resources>
            <eepohs_erply_setup>
                <setup>
                    <module>Eepohs_Erply</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eepohs_erply_setup>
            <eepohs_erply_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eepohs_erply_write>
            <eepohs_erply_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eepohs_erply_read>
        </resources>
        <blocks>
            <eepohs_erply>
                <class>Eepohs_Erply_Block</class>
            </eepohs_erply>
        </blocks>
        <helpers>
            <eepohs_erply>
                <class>Eepohs_Erply_Helper</class>
            </eepohs_erply>
        </helpers>
        <events>
            <default>
                <observers>
                    <eepohs_erply_checkSchedule>
                        <class>eepohs_erply/observer</class>
                        <method>checkSchedule</method>
                    </eepohs_erply_checkSchedule>
                </observers>
            </default>
            <sales_order_invoice_pay>
                <observers>
                    <eepohs_erply_sendOrder>
                        <type>singleton</type>
                        <class>eepohs_erply/observer</class>
                        <method>sendOrder</method>
                    </eepohs_erply_sendOrder>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
    <admin>
        <routers>
            <eepohs_erply>
                <use>admin</use>
                <args>
                    <module>Eepohs_Erply</module>
                    <frontName>eepohs_erply</frontName>
                    <modules>
                        <test after="Eepohs_Erply">Mage_Adminhtml</test>
                    </modules>
                </args>
            </eepohs_erply>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <erply_product_import>
                <run>
                    <model>eepohs_erply/cron::importProducts</model>
                </run>
            </erply_product_import>
            <erply_category_import>
                <run>
                    <model>eepohs_erply/cron::importCategories</model>
                </run>
            </erply_category_import>
            <erply_inventory_update>
                <run>
                    <model>eepohs_erply/cron::updateInventory</model>
                </run>
            </erply_inventory_update>
            <erply_price_update>
                <run>
                    <model>eepohs_erply/cron::updatePrices</model>
                </run>
            </erply_price_update>
            <erply_product_update>
                <run>
                    <model>eepohs_erply/cron::importProducts</model>
                </run>
            </erply_product_update>
            <erply_category_update>
                <run>
                    <model>eepohs_erply/cron::updateCategories</model>
                </run>
            </erply_category_update>
            <erply_image_import>
                <run>
                    <model>eepohs_erply/cron::importImages</model>
                </run>
            </erply_image_import>
            <erply_check_order_status>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>eepohs_erply/cron::checkPendingOrders</model>
                </run>
            </erply_check_order_status>
        </jobs>
    </crontab>
    <default>
        <eepohs_erply>
            <general>
                <log_enabled>1</log_enabled>
            </general>
        </eepohs_erply>
    </default>
</config>